# Expo CLI generated patterns
expo-env.d.ts

# TypeScript
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Turbo and Ultra tools
.turbo
.ultra.cache.json

# Temporary files
tmp
*.tmp.js
npm-debug.log*
.eslintcache
coverage/

# Node.js
node_modules

# macOS
.DS_Store

# Next.js and Vercel
.next
.vercel

# Tamagui-specific
.tamagui

# JetBrains IDE
.idea

# Expo
.expo
.eas
ios
android

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore test outputs
**/tests/spec/out

# Ignore maps for type declarations
**/types/**/*.d.ts.map
